html{
    height: 100%;
    margin:0;
    padding:0;
}

body{
    font-family: benton-sans,Arial,sans-serif;
    display: block;
    margin:0;
    padding:0;
    height:100%;
}

.mainmenu { 
    text-align: center;
    line-height: 32px;
}

ul.mainmenu li {
    margin-top: 15px;
}

.mainmenu li{
    display:inline;
    font-size: 14px;
}

.mainmenu a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.mainmenu a:hover{
    color:white;
    background: black;  
}

#header {
    position: relative;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color:#800000;
}

#header img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    width:68px;
    height:70px;
    padding-top: 5px;
}

#footer {
    column-count: 3;
    column-gap: 10px;
    text-align:center;
    float: left;
    font-size: 75%;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    clear: both; 
    height: 80px;
    display: inline-block;
    background-color: #800000;
    position: absolute;
}

#footer p{
    color:white
}

#footer a{
    border-bottom: 1px dotted;
    text-decoration: none;
    color: white;
    height:20px;
    display: inline-block;
    font-size:11pt;
}


#footer a:hover{
    border-bottom: 2px dotted;
}


.head{
    padding-top:  40px;
    text-align: center;
    font-family:benton-sans,Arial,sans-serif;
    font-size: 25pt;
}

.all {
    position: relative;
    width: 100%;
    padding-top: 10px;
    height: 620px;
    padding-bottom: 30px;
    background-color: azure;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.box1{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:350px;
    padding-bottom: 20px;
    background-color: beige;
}

.box1 img{
    float:left;
    width: 50%;
    height:330px;
    padding-top: 20px;
}

.box1 h1{
    position: relative;
    left: 35px;
    top: 20px;
    margin-right: 50px;
    font-size: 15pt;
    font-weight: bold;
    font-size: 2vw;
}

.box1 p{
    position:relative;
    left: 35px;
    padding-right: 45px;
    padding-top: 5px;
    line-height: 1.7;
    font-size: 1.2vw;

}

.box2{
    position: relative;
    width:170px;
    height:210px;
    background-color: azure;
    float:right;
    margin-right: 70%;
}

.box2 img{
    width: 95%;
    height:50%;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.box2 h1{
    color: #800000;
    font-size: 11pt;
    text-transform: uppercase;
    padding-left: 10px; 
}

.box2 p{
    padding-left: 10px;
    margin-top: -15px;
    line-height: 1;
    font-size: 12pt
}

.box2 a{
    float: left;
}

.box2 a:hover{
    background-color: white;
}

.box3{
    position: relative;
    width:170px;
    height:210px;
    background-color: azure;
    float:right;
    margin-right: 52%;
    margin-top:-210px;
}

.box3 img{
    width: 95%;
    height:50%;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.box3 h1{
    color: #800000;
    font-size: 11pt;
    text-transform: uppercase;
    padding-left: 10px; 
}

.box3 p{
    padding-left: 10px;
    margin-top: -15px;
    line-height: 1;
    font-size: 12pt
}

.box3 a{
    float: left;
}

.box3 a:hover{
    background-color: white;
}

.box4{
    position: relative;
    width:170px;
    height:210px;
    background-color: azure;
    float:right;
    margin-right: 34%;
    margin-top:-210px;
}

.box4 img{
    width: 95%;
    height:50%;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.box4 h1{
    color: #800000;
    font-size: 11pt;
    text-transform: uppercase;
    padding-left: 10px; 
}

.box4 p{
    padding-left: 10px;
    margin-top: -15px;
    line-height: 1;
    font-size: 12pt
}

.box4 a{
    float: left;
}

.box4 a:hover{
    background-color: white;
}

.box5{
    position: relative;
    width:170px;
    height:210px;
    background-color: azure;
    float:right;
    margin-right: 17%;
    margin-top:-210px;
}

.box5 img{
    width: 95%;
    height:50%;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.box5 h1{
    color: #800000;
    font-size: 11pt;
    text-transform: uppercase;
    padding-left: 10px;
    line-height: 1
}

.box5 p{
    padding-left: 10px;
    margin-top: -10px;
    line-height: 1;
    font-size: 12pt;
}

.box5 a{
    float: left;
}

.box5 a:hover{
    background-color: white;
}

.box6{
    position: relative;
    width:170px;
    height:210px;
    background-color: azure;
    float:right;
    margin-right: 0%;
    margin-top:-210px;
}

.box6 img{
    width: 95%;
    height:50%;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
}

.box6 h1{
    color: #800000;
    font-size: 11pt;
    line-height:1;
    text-transform: uppercase;
    padding-left: 10px; 
}

.box6 p{
    padding-left: 10px;
    margin-top: -10px;
    line-height: 1;
    font-size: 12pt
}

.box6 a{
    float: left;
}

.box6 a:hover{
    background-color: white;
}

.round1{
    position: relative;
    margin-right: 37%;
    float:right;
    font-size: 1vw;
}

.round1 a{
    border: 1px solid black;
    padding:7px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.round1 a:hover{
    background: black;
    color: white;
}

.correct{
    position: relative;
    width:70%; 
    margin-right: auto;
    font-size: 8pt;
    line-height: 2;
    margin-left: 15%;
}

.correct a{
    text-decoration: none;
    color: black;
}

.all2 {
    position: relative;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    height: 270px;
}

.all2 img{
    position: relative;
    top:25px;
    left:220px;
    height: 95px;
}

.box7{
    position: relative;
    top:-86px;
    left: 25%;
    width:370px;
    height:210px;
    background-color: white;
    margin-right: 64%;
}

.box7 h1{
    font-size: 18pt;
    padding-left: 10px;
    font-weight: 100;
    
}

.box7 p{
    padding-left: 10px;
    line-height: 1.8;
    font-size: 13pt;
}

.box7 a{
    color: black;
    font-weight: bold;
}

.box8{
    position: relative;
    text-align: center;
    top:-312px;
    left: 50%;
    width:530px;
    height:210px;
    background-color: white;
    margin-right:20%;
}

.box8 h1{
    font-size: 18pt;
    padding-left: 10px;
    font-weight: 100;  
}

.round2{
    position: relative;
    text-align: center;
    font-size: .8vw;
    font-weight: bold;
}

.round2 a{
    border: 1px solid black;
    padding:7px;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.round2 a:hover{
    background-color: azure;
}

.dotted{
   text-align: left;   
}

.dotted a{
    border-bottom: 1px dotted;
    width: 10%;
    display: inline-block;
    margin-top: -80px;
}

.dotted a:hover{
    border-bottom: 2px dotted;
}

.all3 {
    position: relative;
    width: 100%;
    height: 290px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: beige;
    overflow: hidden;
}

.dotted2{
   position: relative;
    top: 20px;
    left:10%;
    font-size:14pt
}

.dotted2 a{
    border-bottom: 1px dotted;
    text-transform: uppercase;
    margin-top: -80px;
    text-decoration: none;
    color: black;
}

.dotted2 a:hover{
    border-bottom: 2px dotted;
}

.round3{
    position: relative;
    left:10%;
    width: 30%;
    top:15%;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
}

.round3 a{
    border: 1px solid black;
    padding:7px;
    border-radius: 5px;
    background-color: #800000;
    text-decoration: none;
    color: white;
}

.round3 a:hover{
    background-color: white;
    color: #800000;
}

.round4{
    position: relative;
    left:25%;
    top:22px;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
}

.round4 a{
    border: 1px solid black;
    padding:7px;
    padding-left: 30px;
    padding-right: 30px; 
    border-radius: 5px;
    background-color: #800000;
    text-decoration: none;
    color: white;
}

.round4 a:hover{
    background-color: white;
    color: #800000;
}

.dotted3{
   position: relative;
    top:41px;
    display: inline-block;
    left: 150px;
    width:32%;
    column-count: 2;
    line-height: 1.8;
}

.dotted3 a{
    border-bottom: 1px dotted;
    text-decoration: none;
    color: black;
    font-size:12pt;
}

.dotted3 a:hover{
    border-bottom: 2px dotted;
}

.box9{
    float:right;
    position: relative;
    top:-70px;
    left:-330px;
}

.box9 img{
    width: 400px;
    height: 210px;
}

.box9 p{
    text-transform: uppercase;
    font-size: 14pt;
}

.box10{
    float:right;
    font-size: 16pt;
    position: relative;
    top:-75px;
    left:320px;
}

.box10 p{
    text-transform: uppercase;
}

.dotted4{
   position: relative;
    height: 1000%;
    width:15%;
    display: inline;
    line-height: 5;
    float:right;
    top:-220px;
    left:440px;
    column-count: 1;
    column-gap: 3px;
    font-size: 12pt;
    text-decoration: none;
}

.dotted4 p{
    margin-top:-50px;
    text-transform: uppercase;
    font-size: 80%;
}

.dotted4 a{
    border-bottom: 1px dotted; 
    color:#800000; 
}

.dotted4 a:hover{
    border-bottom: 2px dotted;
}

.box11{
    position: relative;
    width: 5%;
    height: 5%;
    right: 29%;
    top:-38px;
    float: right;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
}

.box11 p{
    border: 1px solid black;
    padding:7px;
    text-align: center;
    color: black;
    font-weight: 100;
}

.box12{
    position: relative;
    width: 5%;
    height: 5%;
    right:24%;
    top:40px;
    float: right;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
}

.box12 p{
    border: 1px solid black;
    padding:7px;
    text-align: center;
    color: black;
    font-weight: 100;
}

.box13{
    position: relative;
    width: 5%;
    height: 5%;
    right:19%;
    top:115px;
    float: right;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bold;
}

.box13 p{
    border: 1px solid black;
    padding:7px;
    text-align: center;
    color: black;
    font-weight: 100;
}

.dotted5{
   position: relative;
    display: inline;
    float:right;
    top:13px;
    height: 25%;
    left:638px;
    font-size: 12pt;
}

.dotted5 a{
    border-bottom: 1px dotted;
    color:black; 
    text-decoration: none;
}

.dotted5 a:hover{
    border-bottom: 2px dotted;
}

.all4 {
    position: relative;
    width: 100%;
    height:260px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    column-count:3;
    background-color: white;
}

.all4 h1{
    margin-left: 30%;
    margin-right: 30px;
    font-weight: 100;
    font-size: 24px;
    width: 55%;
}

.all4 p{
    margin-left: 30%;
    width:300px;
    line-height: 1.5;
    font-size: 14pt;
    background-color: white;
    margin-right: 29%;
}

.all4 a{
    border-bottom: 1px dotted;
    color:black; 
    font-weight: 800;
    text-decoration: none;
}

.all4 a:hover{
    border-bottom: 2px dotted;
}

.all5 {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height:360px;
    background-color: azure;
    column-count: 6;
}

.all5 div{
   position: relative;
    top:41px;
    display: inline-block; 
    height: 310px;
    width: 1200px;
    left: 145px;
    column-count: 6;
    line-height: 1.8; 
}

.all5 h1{
    line-height: 1;
    font-size: 13pt;  
}

.all5 a{
    border-bottom: 1px dotted;
    text-decoration: none;
    color: black;
    height:20px;
    display: inline-block;
    font-size:11pt;
}

.all5 a:hover{
    border-bottom: 2px dotted;
}

.all6 {
    position: relative;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height:130px;
    margin-top: -16px;
    border-top: 1px black;
    border-bottom: 1px black;
    background-color: azure;
}

.all6 p{
    position: relative;
    left: 9%;
    top:15px;
    line-height: 1.2;
}

.all6 a{
    border-bottom: 1px dotted;
    color:black; 
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 9%;
}

.all6 a:hover{
    border-bottom: 2px dotted;
}
